# Ignore files without extension
*
!/**/
!*.*

# Ignore some files and folders
.DS_Store
*.dSYM/

# Ignore VS Code config folder
.vscode/

# Ignore .exe
*.exe

# Ignore .gitignore
# .gitignore

# Ignore temp folder
temp/

# Ignore txt and json files
*.txt
*.json
